.app {
  background-color: white;
  padding: 25px 70px;
  width: 300px;
  margin: 30px;
  border-radius: 5%;
  border-color: #bea6bf;

  &:hover {
    box-shadow: 6px 7px 10px #bea6bf; // ✅ Thêm blur & màu cho đẹp
  }
}

.button {
  padding: 5px;
  border-radius: 5%;
  border-color: #bea6bf;

  
}

button:hover {
    cursor: pointer;
  }