.input_caption {
  display: flex;
  justify-content: space-between;
}

.input_text {
  width: 240px;
  border-radius: 5px;
  padding: 5px;
  border-color: #bea6bf;
}

.h1 {
    color: #79557a;
    text-align: center;
    margin-bottom: 25px;
}

.button {
    padding: 5px;
    border-radius: 5px;
    border-color: #bea6bf;
    margin-left: 5px;
}